:root {
  --main-font: raleway;
  --accent-font: "STIX Two Text";
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  /* display: flex; */
  justify-content: center;
  background-color: var(--bg-colorcolor, #f3efec);
  font-family: var(--main-font, sans-serif);
  color: var(--text-color);
}

.heading {
  font-family: var(--accent-font, serif);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}

.header__info-container {
  border-top: 1px solid #312a4e;
  border-bottom: 1px solid #312a4e;
  width: 100vw;
}

.header__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  /* max-width: 1296px; */
  padding: 0 5vi;
  margin: 0 auto;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-top: 10%;
  padding-bottom: 40px;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.main__first-title {
  padding-top: min(max(26px, 5vw), 111px);
}

.content-title {
  padding-top: 7vw;
  padding-bottom: 2.5vw;
}
.content__text-block {
  font-size: 18px;
  line-height: normal;
}

.content__blockquote-wrapper {
  display: flex;
  justify-content: center;
}

.content__blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  inline-size: 75%;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-block-end: 1.5em;
}

.highlighted {
  text-decoration: underline;
}

.content__link {
  color: inherit;
}

.content__list {
  margin-inline-start: 40px;
  list-style-type: none;
  list-style-image: url(/images/marker-light.svg);
}

.content__list .content__list-item:not(:last-child) {
  padding-bottom: 10px;
}

.content__list-item {
  padding-left: 10px;
}

.content__text-block_type_first-lettered:first-letter {
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-right: 1px;
  font-weight: 700;
  font-size: 30px;
}

.content__figure {  /*Как оно расстянулось*/
  position: relative;
  inline-size: calc(100% + 10vi);
  margin: 7% auto;
  inset-inline-end: 5vi;
}

.content__figure .content__picture{
  inline-size: 100%;
}


.content__picture-caption {
  border-block-end: 1px solid currentColor;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4/5;
  border: 1px solid currentColor;
  margin-block-start: 7%;
}
.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}


/* Подчеркивание заголовка */